.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover {
        background-color: #3a3a3a;
    }
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--white-color);
}
.check {
    margin-left: 6px;
    color: rgb(92, 216, 216);
}

.username {
    font-size: 1.4rem;
    color: #a49999;
}
